
body{
    background-color:blanchedalmond;
}
h1{
    border-radius: 10px;
    border: 2px solid green;
    width: 345px;
    padding: 5px;
    text-align: center;
    background-color: #ff00bf;
   
}